@keyframes header-effect {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}
@keyframes zoomOut-desktop {
    0% {
        background-size: 180%;
        /* Start zoomed in */
    }

    100% {
        background-size: 100%;
        /* End zoomed out */
    }
}

@keyframes hero-text {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes img-pop-in {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translateX(-300px) translateY(100px)
    }

    100% {
        opacity: 1;
        transform: rotate(-30deg) translateX(0px) translateY(-100px)
    }
}

@keyframes img-pop-out {
    0% {
        transform: rotate(-30deg) translateX(0px) translateY(-100px)
    }

    100% {
        transform: rotate(-15deg) translateX(600px) translateY(-100px)
    }
}


@media only screen and (max-width:750px) {
    @keyframes img-pop-in {
        0% {
            opacity: 0;
            transform: rotate(-45deg) translateX(-300px) translateY(100px)
        }

        100% {
            opacity: 1;
            transform: rotate(-30deg) translateX(-100px) translateY(-50px)
        }
    }

    @keyframes img-pop-out {
        0% {
            opacity: 1;
            transform: rotate(-30deg) translateX(0px) translateY(-100px)
        }

        100% {
            opacity: 0;
            transform: rotate(-15deg) translateX(400px) translateY(-100px)
        }
    }
    @keyframes zoomOut-mobile {
        0% {
            background-size: 250%;
            /* Start zoomed in */
        }
    
        100% {
            background-size: 130%;
            /* End zoomed out */
        }
    }
    @keyframes navigation-bottom {
        from {
            bottom: -10vh;
        }
        to{
            bottom: 2.5vh;
        }
    }
}

@media only screen and (min-width:1920px) {
    @keyframes zoomOut-desktop {
        0% {
            background-size: 200%;
            /* Start zoomed in */
        }
    
        100% {
            background-size: 120%;
            /* End zoomed out */
        }
    }
    
}