@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #581f18;
    --light-primary: #a36057c9;
    --secondary-color: #ab8e66;
    --light-secondary: #fde6c5;
    --high-light-secondary: #fff3e5;
    --background-color: #fff;
    --dark-color: #000000;
    --light-color: #00000032;
    --light-grey: #e8e8e8;
}

* {
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;

}

body {
    margin: 0;
}

header {
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    background-color: transparent;
    transform: translateY(-100px);
    animation-name: header-effect;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: 0.5s;
}

header.scroll-active {
    position: fixed;
    top: 0px;
    background: var(--light-secondary);
}

header .nav {
    padding: 10px 206px;

}

header.scroll-active .nav {
    transition: 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
}

header.scroll-active .quick-links {
    background-color: var(--primary-color);

}

header.scroll-active .quick-links .container a {
    color: #fff;
}

header .nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav .nav-container .logo {
    display: flex;
    align-items: center;
}

header .nav .nav-container .logo span {
    font-size: 4vh;
}

header .nav .nav-container .logo img {
    width: 6vh;
}

header .nav .nav-container .search form {
    width: 50vh;
    height: 5.8vh;
    /* border: 1px solid var(--light-primary); */
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

header .nav .nav-container .search form input[type="search"] {
    width: 100%;
    height: 100%;
    border: none;
    text-indent: 10px;
    outline: none;
    font-size: 1.7vh;
    color: var(--dark-color);
    background-color: #fff;
}

header .nav .nav-container .search form button {
    position: absolute;
    right: 0;
    width: 7vh;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.6vh;
}

header .nav .nav-container .icons {
    display: flex;
    width: 9vh;
    justify-content: space-between;

}

header .nav .nav-container .icons i {
    color: var(--primary-color);
}

header .nav .nav-container .icons .cart {
    position: relative;
}

header .nav .nav-container .icons .cart i {
    font-size: 3.5vh;
}

header .nav .nav-container .icons .cart .items-count-cart {
    color: #000;
    font-weight: 500;
    border-radius: 50%;
    position: absolute;
    font-size: 2vh;
    top: 1.2vh;
    width: 4.8vh;
    text-align: center;
    left: -0.7vh;
}

header .nav .nav-container .icons .account {
    position: relative;
}

header .nav .nav-container .icons .account:hover .sign-form {
    display: block;
}

header .nav .nav-container .icons .account .sign-form {
    display: none;
    position: absolute;
    top: 35px;
    left: -150px;
    width: 300px;
    max-height: 300px;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
    animation: floating-form 1s forwards;
}

header .nav .nav-container .icons .account .sign-form .form form input {
    height: 30px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--light-color);
    text-indent: 5px;
    margin-bottom: 10px;
}

header .nav .nav-container .icons .account .sign-form .form form button {
    width: 100%;
    padding: 7px 0px;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

header .nav .nav-container .icons .account .sign-form .close-form-sign {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

header .nav .nav-container .icons .account .sign-form .toggls {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 25px;
}

header .nav .nav-container .icons .account .sign-form .toggls button {
    border-radius: 15px;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
}

header .nav .nav-container .icons .account .sign-form .toggls button.active {
    background-color: var(--primary-color);
    color: #fff;

}

header .nav .nav-container .icons .account .sign-form .form {
    display: none;
}

header .nav .nav-container .icons .account .sign-form .form.active {
    display: block;
}

header .nav .nav-container .icons .account form.popup-form {
    display: block;
}

header .nav .nav-container .icons .account i {
    font-size: 3.7vh;
}

header .nav .nav-container .icons .account form.popup-form.show {
    display: block;
}

header .quick-links {
    display: flex;
    align-items: center;
    padding-left: 220px;
    height: 45px;
    background-color: transparent;
}

header .quick-links .container {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

header .quick-links .container a,
header .quick-links .container span {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2vh;
    font-weight: 500;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    padding-bottom: 1px;
}

header .quick-links .container a:hover {
    border-bottom: 2px solid var(--primary-color);

}

header .quick-links .container .all-category .links {
    display: none;
}

header .quick-links .container .all-category .links.show {
    display: block;
}

.hero {
    width: 100%;
    height: 100vh;
    padding: 200px 200px 0px 206px;
    overflow: hidden;

}

.hero .bg {
    background: url(../img/wallpaper.jpg);
    background-size: cover;
    filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    animation: zoomOut-desktop 2s forwards;
}

.hero .slider {
    display: flex;
    justify-content: space-between;

}

.hero .slider .text-side h1 {
    margin-bottom: 15px;
    font-size: 9vh;
    color: var(--primary-color);
    animation: hero-text 0.5s ease-in-out 0.3s forwards;
    opacity: 0;
    transform: translateY(50px);
}

.hero .slider .text-side p {
    font-size: 2vh;
    margin-bottom: 25px;
    opacity: 0;
    width: 40vh;
    transform: translateY(50px);
    animation: hero-text 0.5s ease-in-out 0.6s forwards;
}

.hero .slider .text-side a {
    display: block;
    width: fit-content;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2vh 8vh;
    border-radius: 21px;
    font-size: 2vh;
    font-weight: 900;
    text-decoration: none;
    transition: 0.2s;
    opacity: 0;
    transform: translateY(50px);
    border: 2px solid transparent;
    animation: hero-text 0.5s ease-in-out 0.9s forwards;
}

.hero .slider .text-side a:hover {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    transition: 0.2s;

}

.hero .slider .img-side img {
    height: 70vh;
    position: relative;
    top: 7vh;
    position: relative;
    left: -30%;
    animation: img-pop-in 1s forwards;
    transform: rotate(-45deg) translateX(-300px) translateY(-100px);
}

.hero .slider .img-side.out img {
    animation: img-pop-out 1s forwards;
}

.decoration-underline {
    width: 90px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: auto;
}

.navigation-bottom {
    display: none;
}

.section {
    margin-bottom: 80px;
    margin-left: 220px;
    margin-right: 206px;
}

.best-deals {
    margin-top: 80px;
}

.best-deals .head-text h1,
.high-lighted-products .head-text h1 {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.products .product {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.products .product:hover .options {
    display: block;
}

.products .product .options {
    display: none;
    position: absolute;
    left: 50px;
    top: 120px;
    z-index: 1;
    background-color: var(--primary-color);
    color: #fff;
    padding: 7px 15px;
    border-radius: 23px;
    animation: options-product 0.5s forwards;
    transform: translateY(100px);
    opacity: 0;
}

.products .product .options .btn {
    margin: 0px 10px;
    font-size: 20px;
    cursor: pointer;
}

.products {
    gap: 20px;
}


.products .product {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--light-secondary);
    box-shadow: 2px 2px 5px transparent;
    animation: product-appear 1s forwards;
    transition: 0.3s;
}



.products .product:hover,
.products .product:hover {
    box-shadow: 2px 2px 5px #ab8e66ba;
    transition: 0.3s;
}

.products .product .head,
.products .product .head {
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-secondary);
}

.products .product .head .tag {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 12px;
    border-radius: 13px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 13px;
    font-weight: 500;
}

.products .product .head img,
.products .product .head img {
    height: 100%;
}

.products .product .content,
.products .product .content {
    padding: 30px 30px;
}

.products .product .content .counter-date {
    display: flex;
}

.products .product .content .counter-date .circule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px 2px;
    height: 49.2px;
    background-color: var(--light-secondary);
    border-radius: 50%;

}

.products .product .content .counter-date .circule span {
    font-size: 12px;
    font-weight: 500;
}

.products .product .content h3,
.products .product .content h3 {
    color: var(--primary-color);
    margin: 10px 0px;
}

.products .product .content .rate i,
.products .product .content .rate i {
    color: var(--primary-color);
}

.products .product .content .price,
.products .product .content .price {
    margin: 10px 0px;
}

.products .product .content .price del,
.products .product .content .price del {
    color: rgb(180, 180, 180);
}

.banners {
    display: flex;
    flex-direction: column;
}

.banners .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.banners .row>div {
    display: flex;
    width: 90%;
    background-color: #dfe3e6;
    padding: 20px 40px;
}

.banners .row:nth-child(1)>div:nth-child(1) {
    margin-right: 12px;
}

.banners .row>div {
    height: 300px;
}

.banners .row>div .img-side {
    height: 100%;
}

.banners .row>div .img-side img {
    height: 100%;
}

.banners .row>div .text-side p {
    color: #666;
}

.banners .row>div a {
    background-color: var(--secondary-color);
    color: #fff;
    position: relative;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.2s;
    margin: 10px 0px;
}

.banners .row>div a:hover {
    box-shadow: 1px 1px 3px #00000092;
}

.banners .row .new-arrived {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    position: relative;
}

.banners .row .new-arrived .bg {
    background-size: cover;
    filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.banners .row .new-arrived .container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.banners .row .new-arrived .container .price {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 700;
}

.high-lighted-products .buttons {
    display: flex;
    justify-content: center;
}

.high-lighted-products .buttons .container {
    width: 60vh;
    display: flex;
    justify-content: space-between;
}

.high-lighted-products .buttons .container a {
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
}

.high-lighted-products .products {
    gap: 5vh 0vh;
    flex-wrap: wrap;
}

.high-lighted-products .buttons .container a.active {
    background-color: var(--secondary-color);
}

.trust-signals {
    padding: 40px 200px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--light-secondary);
}

.trust-signals .signal {
    display: flex;
    align-items: center;
}

.trust-signals .signal .icon {
    margin-right: 20px;
}

.trust-signals .signal h2 {
    font-size: 18px;
    margin: 5px;
    color: var(--primary-color);
}

.trust-signals .signal p {
    font-size: 14px;
    max-width: 250px;
    margin: 5px;
}

.trust-signals .signal .icon i {
    color: var(--primary-color);
    font-size: 60px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
}

footer .row:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;
}

footer .row:nth-child(1)>.column {
    flex: 25%;
}

footer .row:nth-child(1) .container {
    flex: 75%;
    display: flex;
    justify-content: space-around;
}

footer .row:nth-child(1) h3 {
    text-align: center;
}

footer .row:nth-child(1) .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

footer .row:nth-child(1) .links a {
    color: #000;
    text-decoration: none;
}

footer .row form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .row .container .column p {
    color: #666;
    font-weight: 400;
}

footer .row form input {
    width: 300px;
    height: 50px;
    border: 1px solid #00000014;
    margin-bottom: 20px;
    border-radius: 40px;
    text-indent: 15px;
}

footer .row:nth-child(1) form button {
    width: 300px;
    height: 50px;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 17px
}

footer .row:nth-child(2) {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

footer .row:nth-child(2) .container {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

footer .row:nth-child(2) .container a {
    font-size: 25px;
    color: #666;
}

footer .row:nth-child(2) .container a:hover {
    color: var(--secondary-color);
}

footer .row .container .column p {
    text-align: center;
}

header .nav .nav-container .icons .cart {
    position: relative;
}

header .nav .nav-container .icons .cart:hover .floating-cart {
    display: block;
}

header .nav .nav-container .icons .cart .floating-cart {
    display: none;
    position: absolute;
    width: 400px;
    max-height: 80vh;
    top: 30px;
    left: -220px;
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    animation: floating-form 1s forwards;
}

header .nav .nav-container .icons .cart .floating-cart .container {
    display: flex;
    flex-direction: column;
    position: relative;
}

header .nav .nav-container .icons .cart .floating-cart .container .close-cart {
    position: absolute;
    top: -40px;
    right: -40px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

header .nav .nav-container .icons .cart .floating-cart .container .items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    max-height: 38vh;
}

header .nav .nav-container .icons .cart .floating-cart .container .items .item {
    display: flex;
    gap: 0px 30px;
}

header .nav .nav-container .icons .cart .floating-cart .container .items .item .image {
    background-color: var(--light-secondary);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

header .nav .nav-container .icons .cart .floating-cart .container .items .item .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

header .nav .nav-container .icons .cart .floating-cart .container .items .item .content p {
    margin: 5px 0px;
}

header .nav .nav-container .icons .cart .floating-cart .container .items .item .content button {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 500;
}

header .nav .nav-container .icons .cart .floating-cart .container .items .item .image .quantity {
    position: absolute;
    bottom: -5px;
    right: -5px;
    display: block;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 3px 9px;
    border-radius: 50%;
    font-size: 12px;
}

header .nav .nav-container .icons .cart .floating-cart .container .items .item .image img {
    height: 80px;
    padding: 5px 10px;
}

header .nav .nav-container .icons .cart .floating-cart .container .action {
    margin-top: 30px;
}

header .nav .nav-container .icons .cart .floating-cart .container .action .checkout-button {
    width: 100%;
    display: block;
    text-align: center;
    padding: 13px 0px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid transparent
}

header .nav .nav-container .icons .cart .floating-cart .container .action .checkout-button:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

header .nav .nav-container .icons .cart .floating-cart .container .action .total {
    font-size: 18px;
    font-weight: 700;
}

.floating-cart-mob {
    display: none;
    height: 50vh;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.floating-cart-mob .container {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    height: 100%;
}

.floating-cart-mob .container .head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #6666665e;
    margin-bottom: 15px;
    flex: 20%;
    align-items: center;
}

.floating-cart-mob .container .head button {
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
}

.floating-cart-mob .container .items .item .content {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    flex: 70%;
}

.floating-cart-mob .container .items .item .content .row {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 0px;
}

.floating-cart-mob .container .items .item .content .row button {
    background: none;
    color: var(--primary-color);
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
}

.floating-cart-mob .container .items {
    overflow: auto;
    height: 27vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floating-cart-mob .container .items::-webkit-scrollbar {
    display: none;
}

.floating-cart-mob .container .items .item {
    display: flex;
    padding-bottom: 5px;
}

.floating-cart-mob .container .items .item .image {
    background-color: var(--light-secondary);
    border-radius: 7px;
    position: relative;
}

.floating-cart-mob .container .items .item .image .quantity {
    position: absolute;
    padding: 5px 8px;
    border-radius: 5px;
    bottom: -3px;
    right: -3px;
    font-size: 12px;
    background-color: var(--primary-color);
    color: #fff;
}

.floating-cart-mob .container .items .item .image img {
    height: 100px;
    width: 100px;
    object-fit: contain;


}

.floating-cart-mob .container .action {
    border-top: 1px solid #6666665e;
    margin-top: 15px;
    padding-top: 15px;
}

.floating-cart-mob .container .action a {
    display: block;
    width: 100%;
    padding: 15px 0px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
}

.section {
    min-height: 50vh;
}

.section.categories {
    margin-top: 170px;
}

.section.product-details {
    margin-top: 170px;
}

.section .route p {
    font-weight: 500;
    font-size: 16px;
}

.section .route p span {
    color: var(--light-primary);

}

.section.categories .categories-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
    gap: 20px;
}

.section.categories .categories-cards .category {
    width: 350px;
    height: 130px;
    display: flex;
    align-items: center;
    border: 2px solid var(--light-primary);
    border-radius: 10px;
    justify-content: space-between;
    padding: 0px 20px;
    transition: 0.3s;
    cursor: pointer;
}

.section.categories .categories-cards .category:hover {
    box-shadow: 2px 2px 4px #581f188a;
}

.section.categories .categories-cards .category .image img {
    height: 150px;
    transform: rotate(-30deg);
}

.section.products-container {
    margin-top: 170px;
}

.section.product-details .product-content {
    margin-top: 50px;
}


.section.product-details .product-content .view .title-background {

    position: relative;
    top: 20px;
    display: flex;
    gap: 10px;
    font-size: 105px;
    font-weight: 700;
}

.section.product-details .product-content .view .title-background p {
    animation: title-product-background 1s ease-in-out 0s forwards;
    transform: translateY(-350px);
}



.section.product-details .product-content .view .viewer {
    margin-left: 40px;
    padding: 40px 30px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
}

.section.product-details .product-content .view .viewer img {
    position: absolute;
    top: 12px;
    height: 395px;
    width: 200px;
    object-fit: contain;
    opacity: 0.9;
    left: 38%;
    animation: product-up 1.2s forwards;
    transform: rotate(0deg);
}



.section.product-details .product-content>.content {
    margin-top: 0px;
}

.section.product-details .route {
    margin-left: 220px;
}

.section.product-details {

    margin-left: 0;
    margin-right: 0;
}

.section.product-details .product-content {
    overflow: hidden;
}

.section.product-details .product-content>.content .quick-info {
    margin: 40px 220px;
    display: flex;
    flex-direction: column;
}

.section.product-details .product-content>.content .quick-info .row.quick {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section.product-details .product-content>.content .quick-info .title {
    font-size: 30px;
}

.section.product-details .product-content .add-to-cart,
.section.product-details .product-content .buy-now {
    padding: 15px 15px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
    width: 100%;
}

.section.product-details .product-content .buy-now {
    background-color: #000;
}

.section.product-details .product-content .buy-now:hover {
    background: none;
    color: #000;
}

.section.product-details .product-content .head .details .container .title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 0px;
}

.section.product-details .product-content .head .details .container .reviews {
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}

.section.product-details .product-content .head .details .container .reviews .rates i {
    color: var(--primary-color);
}

.section.product-details .product-content .head .details .container .short-content {
    color: #666;
}

.section.product-details .product-content>.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 40px;
    grid-template-areas:
        "view details";
    margin: 0px 177px;
}

.section.product-details .product-content .details .buttons {
    display: flex;
    gap: 20px;
}

.section.product-details .product-content .details .buttons button i {
    margin: 0 5px;
    font-size: 18px;
    -webkit-text-stroke: 0.3px;
}

.section.product-details .product-content .head .details {
    flex: 35%;
    grid-area: details;
}

.section.product-details .product-content .details .shipping {
    padding: 20px;
    background-color: rgb(244, 244, 244);
    border-radius: 7px;
    margin-bottom: 20px;
}

.section.product-details .product-content .details .shipping .container {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.section.product-details .product-content .details .shipping .container .delivery-location select {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    background: none;
    cursor: pointer;
}

.section.product-details .product-content .details .shipping .container .delivery-location {
    padding-bottom: 7px;
    border-bottom: 1px solid #cfcfcf;
}

.section.product-details .product-content .details .shipping .container .delivery-duration p {
    font-size: 15px;
}

.section.product-details .product-content .details .shipping .container .delivery-duration p span {
    font-weight: 700;
}

.section.product-details .product-content .add-to-cart:hover {
    color: var(--primary-color);
    background-color: transparent;
}

.section.product-details .product-content .view {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 40%;
    gap: 25px;
    grid-area: view;
}

.section.product-details .product-content .view .other-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
    width: 94%;
}

.section.product-details .product-content .view .other-images .images {
    display: flex;
    width: 100%;
}

.section.product-details .product-content .view .other-images .images img.active {
    border: 1px solid var(--primary-color);
}

.section.product-details .product-content .view .other-images .images img:hover {
    border: 1px solid var(--primary-color);
}

.section.product-details .product-content .view .other-images .images::-webkit-scrollbar {
    display: none;
}

.section.product-details .product-content .view .other-images button {
    height: 50px;
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
    cursor: pointer;
}

.section.product-details .product-content .view .other-images .images img {
    height: 120px;
    background-color: var(--high-light-secondary);
    margin: 2px;
    min-width: 75px;
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid transparent;
    -o-object-position: center;
    object-position: center;
}

.trust-buy {
    border-top: 1px solid #ab8e6692;
    display: flex;
    justify-content: space-between;
}

.trust-buy .signal {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.trust-buy .signal p {
    font-size: 14px;
}

.trust-buy .signal i {
    font-size: 25px;
}

.section.product-details .product-content .details .sizes {
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}

.section.product-details .product-content .details .sizes .size {
    cursor: pointer;
}

.section.product-details .product-content .details .sizes .size input[type=radio] {
    display: none;
}

.section.product-details .product-content .details .sizes .size input[type=radio]+label {
    height: auto;
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 10px 0px;
    border: 1px solid var(--light-grey);
    border-radius: 30px;
}

.section.product-details .product-content .details .sizes .size input[type=radio]:checked+label {
    height: auto;
    width: 100px;
    display: inline-block;
    padding: 10px 0px;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
}

.section.product-details .product-content .details .sizes .size label {
    cursor: pointer;
}

.section.product-details .product-content .details .sizes .size label::selection {
    background: transparent;
}

.section.product-details .product-content .details .price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section.product-details .product-content .details .price .past-price {
    color: #9d9d9d;
    font-size: 15px;
}

.section.product-details .product-content .details .price .past-price::after {
    content: '';
    display: block;
    border-bottom: 2px solid #000;
    position: relative;
    top: -10px;
}

.section.product-details .product-content .details .price .final-price {
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.section.product-details .product-content .details .price .discount {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.section.product-details .product-content .deep-details {
    margin: 60px 175px 60px 220px;
    border: 1px solid var(--light-grey);
    border-radius: 35px;
}

.section.product-details .product-content .deep-details .box .head {
    color: #fff;
    width: 100%;
    display: flex;
    background-color: var(--light-grey);
    border-radius: 35px;
}

.section.product-details .product-content .deep-details .box .head a {
    color: #000;
    background-color: var(--light-grey);
    text-decoration: none;
    padding: 15px;
    width: 140px;
    text-align: center;
}

.section.product-details .product-content .deep-details .box .head a.active {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 35px;
}

.section.product-details .product-content .deep-details .box .content {
    padding: 30px;
}

.section.product-details .product-content .deep-details .box .content > div {
    display: none;
}

.section.product-details .product-content .deep-details .box .content > div.active {
    display: block;
}
.section.product-details .product-content .deep-details .box .content .reviews.active{
    display: flex;
    gap: 60px;
}
.section.product-details .product-content .deep-details .box .content .reviews .average{
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.section.product-details .product-content .deep-details .box .content .reviews .average h3{
   margin: 7px;
}
.section.product-details .product-content .deep-details .box .content .reviews .average p{
   margin: 7px;
}
.section.product-details .product-content .deep-details .box .content .reviews .average p.average-rate{
   margin: 7px;
   color: var(--primary-color);
   font-weight: 700;
}
.section.product-details .product-content .deep-details .box .content .reviews .average i{
    color: var(--primary-color);
}
.section.product-details .product-content .deep-details .box .content .reviews .average .count .count-number{
    color: var(--primary-color);
    font-weight: 700;
}
.section.product-details .product-content .deep-details .box .content .users-reviews {
    max-height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
}
.section.product-details .product-content .deep-details .box .content .users-reviews .review p{
    margin: 5px;
}
.section.product-details .product-content .deep-details .box .content .users-reviews .review .rate{
    display: flex;
    margin: 5px;
    gap:10px;
    color: var(--primary-color);
}
.section.product-details .product-content .deep-details .box .content .users-reviews .review .details{
    font-weight: 300;
}
.section.product-details .product-content .deep-details .box .content .users-reviews .review .username{
    font-style: italic;
    color: var(--primary-color);
}
.section.product-details .section.products-container {
    margin-top: 0px !important;
}