@media only screen and (max-width:750px) {

    header .nav {
        padding: 5px;
    }

    header .quick-links {
        display: none;
    }

    header .nav .nav-container {
        display: flex;
        justify-content: space-between;
    }

    header .nav .nav-container .search form {
        width: 90%;
    }

    header .nav .nav-container .icons {
        display: none;
    }

    .hero {
        padding: 100px 30px;
    }

    .hero .bg {
        background-image: url(../img/wallpaper-mob.jpg);
        animation: zoomOut-mobile 2s forwards;
    }

    .hero .slider {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero .slider .img-side img {
        height: 307px;
        top: -10px;
        left: 55%;
    }

    .hero .slider .text-side p {
        width: auto;
    }

    header .nav .nav-container .logo span {
        font-size: 18px;
        font-weight: 500;
    }

    .hero .slider .text-side h1 {
        font-size: 40px;
    }

    .hero .slider .text-side p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .hero .slider .text-side a {
        padding: 8px 20px;
        font-size: 16px;
    }

    .best-deals .products,
    .high-lighted-products .products {
        gap: 30px;
    }

    .best-deals .products .product,
    .high-lighted-products .products .product {
        width: 100%;
    }

    .navigation-bottom {
        display: block;
        position: fixed;
        bottom: -2.5vh;
        width: 90%;
        padding: 5px 10px;
        margin: 0px 20px;
        background: linear-gradient(0deg, rgb(211 173 121) 0%, rgba(255, 230, 194, 1) 100%);
        box-shadow: 1px 1px 4px #00000078;
        border-radius: 50px;
        z-index: 9;
        animation: navigation-bottom 1s forwards;
    }

    .navigation-bottom .container {
        display: flex;
        justify-content: space-around;
    }

    .navigation-bottom .container a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.7vh;
        color: #000000;
    }

    .navigation-bottom .container a i {
        font-size: 2.4vh;
        -webkit-text-stroke: 1px;
    }

    .navigation-bottom .container a i.bi-bag {
        font-size: 2.7vh;
        -webkit-text-stroke: 0.5px;
    }

    .navigation-bottom .container a i.bi-person {
        font-size: 2.7vh;
    }

    .navigation-bottom .container a.active {
        color: var(--primary-color);
    }

    .navigation-bottom .container a .icon {
        position: relative;
    }

    .navigation-bottom .container a .icon .items-count-cart {
        color: #000;
        font-weight: 500;
        border-radius: 50%;
        position: absolute;
        font-size: 12px;
        top: 0.9vh;
        width: 4vh;
        text-align: center;
        left: -0.7vh;
    }

    .best-deals {
        margin-top: 80px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .section {
        padding: 0px 20px;
    }

    .section.banners {
        margin: 0;
    }

    .section.high-lighted-products {
        margin: 0px 20px;
    }

    .section.banners .row {
        flex-wrap: wrap;
        gap: 30px;
    }

    .high-lighted-products .buttons .container {
        justify-content: center !important;
        flex-wrap: wrap;
        gap: 20px;
    }

    .banners .row:nth-child(1)>div {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banners .row .new-arrived .container {
        width: 80%;
    }

    .banners .row>div {
        padding: 20px;
        width: 100%;
        height: auto;
    }

    .banners .row>div .img-side img {
        width: 170px;
        height: 170px;
        object-fit: contain;
    }

    .banners .row .new-arrived {
        height: auto;
    }

    .trust-signals {
        padding: 45px 20px;
        flex-wrap: wrap;
        gap: 35px;
        margin-top: 20px;
    }

    footer {
        padding-bottom: 100px;
    }

    footer .row:nth-child(1) {
        gap: 30px;
        flex-wrap: wrap;
        padding: 20px !important;
    }
    .section {
        margin-left: 0px;
        margin-right: 0px;
    }

    footer .row:nth-child(1) .container {
        gap: 30px;
        flex-direction: column-reverse;
        width: 100%;
    }

    footer .row:nth-child(2) .container {
        justify-content: space-evenly !important;
    }
    footer .row form input ,footer .row form button{
        width: 100% !important;
    }
}